{% extends "base.html" %}

{% block content %}

    <br>{% include 'partials/_messages.html' %}

    <div class="container">
        <br><h1>Expense List<h1><br>
            <ul class="list-group">
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
                <li class="list-group-item h4">Bought Beer</li>
            </ul>
    </div>

{% endblock %}
