{% extends "base.html" %}
{% load humanize %} <!-- Para adicionar o fltro do Amount -->
{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="t-index m-0">My Expenses</h2>
            <div class="d-flex justify-content-end mr-4" style="gap:20px;">
                <a href="{% url "export-csv" %}" class="button-csv">
                    <span class="button__text-csv">Export CSV</span>
                    <span class="button__icon-csv"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                </a>
                <a href="{% url "export-csv" %}" class="button-pdf">
                    <span class="button__text-pdf">Export PDF</span>
                    <span class="button__icon-pdf"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                </a>
                <a href="{% url "export-csv" %}" class="button-excel">
                    <span class="button__text-excel">Export Excel</span>
                    <span class="button__icon-excel"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg"><path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path><path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path><path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path></svg></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <nav ariel-label="breadcrumb">
                    <ol class='breadcrumb page-location'>
                        <li class="breadcrumb-item">
                            <a href="{% url "expenses" %}">Expenses</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"> My Expenses</li>
                    </ol>
                </nav>
            </div>
        </div>
        {% include "partials/_messages.html" %} {% if expenses.count %}

        <div class="row mt-3 align-items-center">
            <div class="col-md-6 add-expense d-flex justify-content-start">
                <a href="{% url 'add-expenses'%}" class="btn btn-primary btn-add">
                    <img class="add-icon" src="{% static "img/add-icon-white.png" %}" alt="">
                    Add Expense
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-end mt-3" style="padding-right: 30px">
                <div class="form-group form-control-dark w-100 position-relative searchField">
                    <img class="search-icon" src="{% static "img/search.svg" %}" alt="">
                    <input type="text" class="form-control search-index" id="searchField" placeholder="Search">
                </div>
            </div>   
        </div>
        <div class="container">

            <div class="app-table">
                
                <table class="table table-striped table-hover mt-2">
                    <thead>
                        <tr>
                            <th>Amount ({{currency}})</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for expense in page_obj %}
                        <tr>
                            <td> $ {{expense.amount}}</td>
                            <td>{{expense.category}}</td>
                            <td>{{expense.description}}</td>
                            <td>{{expense.date}}</td>
                            
                            <td class="d-flex justify-content-center">
                                <a href="{% url 'edit-expense' expense.id  %}" class="btn-edit mr-2">
                                    <img src="{% static 'img/edit.svg' %}" alt="">
                                </a>
                                <a href="{% url 'expense-delete' expense.id  %}" class="btn-trash">
                                    <img src="{% static 'img/delete.svg' %}" alt="">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="no-results mt-4" style="display: none;">No results </p>
                <div class="table-output">
                
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>Amount ({{currency}})</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  class="table-body">
                        </tbody>
                    </table>
                </div>
            
            <div class="pagination-container">
                <div class ="show-page">
                    Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
                <div class="">
                    <ul class="pagination align-right float-right">
    
                        {% if page_obj.has_previous %}
                        <!-- Link para a primeira página (sempre 1) -->
                            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}>
                                <a class="page-link pages" href="?page=1">&laquo; 1</a>
                            </li>
                        <!-- Link para a página anterior -->
                            <li class="page-item"> 
                                <a class="page-link pages" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        
                        {% if page_obj.has_next %}
                        <!-- Link para a próxima página -->
                            <li class="page-item"> 
                                <a class="page-link pages" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        <!-- Link para a última página -->
                            <li class="page-item"> 
                                <a class="page-link pages" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a>
                            </li>
                        {% endif %}
                        
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row no-wrap">
            <div class="col-md-6 chart-container">
                {{ plot_div|safe }}
            </div>
            <div class="col-md-6 chart-container">
                {{ plot_line_div|safe }}
            </div>
        </div>
    </div>



{% endblock content %}
