.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .the-money {
    background-color: #f1f1f1;
  }

  /*-------- BASE ---------*/

.btn-logout {
    color: hwb(0 100% 0% / 0.625);
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-top: .715rem;
    padding-bottom: .715rem;
    text-transform: uppercase !important;
    font-weight: 600;
}
.btn-logout:hover{
  color: #f7f7f9;
}

.img-logout{
  width: 18px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 5px;
}

.t-sidebar {
  font-size: 18px !important;
}

.show-page {
  width: 250px;
  color: #919aa1;
  text-transform: uppercase !important;
  font-size: 12px;
  margin-top: 10px
}

  /*-------- REGISTER ---------*/

.t-register{
  display: flex;
  justify-content: center;
}

.showPassword {
  cursor: pointer;
  transition: all;
}

.showPassword:hover {
  transform: scale(0.9);
}

.messages {
  padding: 0;
}

.signup-btn {
    color: #fff;
    background-color: #343a40;
}

.signup-btn:hover {
  background-color: #d5bd96;
  border: 1px solid #d5bd96;
  color: #fff;
}
.signup-btn:disabled {
  background-color: lightgray;
  color: rgb(113, 112, 112);
  border: none;
}

.btn:focus, 
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/*-------- LOGIN ---------*/

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.logo-auth{
  width: 230px;
  height: 190px;
}

.t-login{
  display: flex;
  justify-content: center;
}

/*-------- EXPENSES ---------*/

.add-expense{
  padding-left: 5px !important;
}

.btn-add {
  background-color: #343a40;
  color: white;
  padding: 10px 24px;
}
.btn-add:hover {
  border: none;
  background-color: #d5bd96;
  border: 1px solid #d5bd96;
  color: #fff;
}

.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  font-size: 11px;
  border: 2px solid #d5bd96;
  border-radius: 15px;
}
.btn-edit:hover{
  border: 2px solid #343a40;
  background-color: #f7f7f9;
}

.page-location {
  background-color: #ffffff;
  margin-left: 12px;
  box-shadow: rgba(9, 30, 66, 0.169) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.no-results {
  font-size: 18px;
}

.pages {
  color: #fff;
  background-color: #d5bd96;
  font-size: 15px;
  font-weight: 600;
  margin-right: 6px;
}

.pages:hover {
  color: #fff;
  background-color: #343a40;
  font-size: 14px;
}

.row.no-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}

.chart-container {
  display: inline-block;
  width: 100%;
  padding: 0 15px; /* espaço lateral entre os gráficos */
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 32px;
  margin-left: 50px; /* usei para separar e alinhar no centro */
}

.js-plotly-plot{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

 /*-------- SIDEBAR---------*/

 .icon-expenses {
    width: 22px;
    margin-bottom: 2px;
    margin-right: 2px;
 }

 .general-icon {
  width: 18px;
  margin-bottom: 3px;
  margin-right: 2px;
  margin-left: 2px;
}

 .account-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
 .setting-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
 .home-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
.summary-icon {
 width: 18px;
 margin-bottom: 6px;
 margin-right: 2px;
 margin-left: 2px;
}
.income-icon {
 width: 20px;
 margin-bottom: 3px;
 margin-right: 3px;
 margin-left: 2px;

}
.summary-expense {
 width: 21px;
 margin-bottom: 3px;
 margin-right: 1px;
 margin-left: 2px;
}

.summary-income {
 width: 19px;
 margin-bottom: 3px;
 margin-right: 3px;
 margin-left: 4px;
}

 /*-------- USER PREFERENCES - GENERAL---------*/

.t-preferences {
    margin-bottom: 50px;
}

.select-preferences {
    align-items: center;
    border: 1px solid #343a40;
    color: #55595c;
    font-weight: 500;
    padding: 0px 10px;
}

.btn-preferences {
    width: 110px;
    background-color: #343a40;
    color: white;
}

.btn-preferences:hover {
    border: 1px solid #d5bd96;
    background-color: #d5bd96;
    color: #fff;
}

