.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .the-money {
    background-color: #f8f9fa;
  }

  /*-------- BASE ---------*/

.navbar-brand {
  background-color: transparent !important;
  box-shadow: none !important;
}

.fixed-top{
  right: auto;
  top: 5px;
}

.bg-dark {
  background-color: #1a1a1a !important;
}

.t-sidebar {
  display: flex;
  font-size: 18px !important;
  align-items: flex-end;
}

.show-page {
  width: 250px;
  color: #919aa1;
  text-transform: uppercase !important;
  font-size: 12px;
  margin-top: 10px;
  padding: 2px;
}

.logo-white {
  width: 40px;
  height: 30px;
  margin-right: 8px;
  padding: 2px 5px 2px 0;
}

  /*-------- REGISTER ---------*/

.t-register{
  display: flex;
  justify-content: center;
}

.showPassword {
  cursor: pointer;
  transition: all;
}

.showPassword:hover {
  transform: scale(0.9);
}

.messages {
  padding: 0;
}

.signup-btn {
    color: #fff;
    background-color: #343a40;
}

.signup-btn:hover {
  background-color: #d5bd96;
  border: 1px solid #d5bd96;
  color: #fff;
}
.signup-btn:disabled {
  background-color: lightgray;
  color: rgb(113, 112, 112);
  border: none;
}

.btn:focus, 
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/*-------- LOGIN ---------*/

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.logo-auth{
  width: 230px;
  height: 190px;
}

.t-login{
  display: flex;
  justify-content: center;
}

/*-------- EXPENSES ---------*/

.t-index {
  padding-left: 15px;
  margin-top: 0;
}

.page-location {
  padding: 4px 15px;
}

.add-expense {
  padding-left: 30px !important;
}

.add-icon{
  position: relative;
  width: 16px;
  right: 6px;
  bottom: 2px;
}

.btn-add {
  border-radius: 8px;
  border: 2px solid #343a40;
  background-color: #fff;
  color: #343a40;
  padding: 10px 24px;
}

.btn-add:hover {
  border: none;
  background-color: #d5bd96;
  border: 2px solid #d5bd96;
  color: #fff;
}

.btn-add .add-icon {
  transition: all 0.2s ease;
}

.btn-add:hover .add-icon {
  content: url("/static/img/add-icon-white.png");
}

.search-index{
  padding-top: 15px !important;
  height: 48px;
  padding-left: 50px;
  border-radius: 8px;
  background-color: #fff;
}

.search-icon {
  top: 30%;
  position: absolute;
  pointer-events: none; /* permite clicar no input mesmo em cima da imagem */
  width: 20px;
  left: 15px;
}

.btn-trash,
.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 11px;
  border: 1px solid #dbdfe4;
  background-color: #fff;
  border-radius: 8px;
  gap: 10px;
}

.btn-edit:hover{
  transition: all 0.2s ease;
  border: 1px solid #20c997;
  background-color: #20c997;
}

.btn-trash:hover{
  transition: all 0.2s ease;
  border: 1px solid #d9534f;
  background-color: #d9534f;
}

.btn-edit img {
  width: 21px;
}

.no-results {
  font-size: 18px;
}

.pages {
  color: #fff;
  background-color: #343a40;
  font-size: 15px;
  font-weight: 600;
  margin-right: 6px;
}

.pages:hover {
  transition: all 0.2s ease;
  color: #fff;
  background-color: #d5bd96;
  font-size: 14px;
}

.page-link {
  display: inline !important;
}

.table {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding-right: 15px;
}

.table th {
  padding: 18px;
  background-color: #fff;
}

.table td {
  padding: 12px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9 !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff !important;
}

.row.no-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  padding: 0 6px;
  gap: 15px !important;
}

.chart-container {
  flex: 0 0 auto; /* impede que o item cresça/diminua com base no container */
  padding: 0 30px; /* espaço lateral entre os gráficos */
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 30px;
}

.js-plotly-plot{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

 /*-------- SIDEBAR---------*/

 .sidebar-sticky {
  position: relative !important;
  top: 0;
  left: 6px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

 .sidebar .nav-link {
  font-weight: 600;
  color: #fff !important;
}

.nav-link:hover{
  background-color: #343a40;
  border-radius: 8px;
}

.icon-expenses {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 2px;
 }

.general-icon {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 3px;
  margin-left: 2px;
}

.account-icon {
  width: 17px;
  margin-bottom: 6px;
  margin-right: 3px;
  margin-left: 3px;
}
.setting-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
.home-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
.summary-icon {
 width: 18px;
 margin-bottom: 6px;
 margin-right: 2px;
 margin-left: 2px;
}
.income-icon {
 width: 18px;
 margin-bottom: 3px;
 margin-right: 4px;
 margin-left: 2px;

}
.summary-expense {
 width: 18px;
 margin-bottom: 3px;
 margin-right: 4px;
 margin-left: 2px;
}

.summary-income {
 width: 19px;
 margin-bottom: 3px;
 margin-right: 3px;
 margin-left: 2px;
}

.btn-logout {
  color: hwb(0 100% 0% / 0.625);
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding-top: .715rem;
  padding-bottom: .715rem;
  text-transform: uppercase !important;
  font-weight: 600;
  margin-top: 50px;
  font-size: 16px;
}
.btn-logout:hover{
color: #f7f7f9;
}

.img-logout{
  width: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 5px;
}

 /*-------- USER PREFERENCES - GENERAL---------*/

.t-preferences {
    margin-bottom: 50px;
}

.select-preferences {
    align-items: center;
    border: 1px solid #343a40;
    color: #55595c;
    font-weight: 500;
    padding: 0px 10px;
}

.btn-preferences {
    width: 110px;
    background-color: #343a40;
    color: white;
}

.btn-preferences:hover {
    border: 1px solid #d5bd96;
    background-color: #d5bd96;
    color: #fff;
}

