.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .the-money {
    background-color: #f8f9fa;
  }

  /*-------- BASE ---------*/

.navbar-brand {
  background-color: transparent !important;
  box-shadow: none !important;
}

.fixed-top{
  right: auto;
  top: 5px;
}

.bg-dark {
  background-color: #1a1a1a !important;
}

.t-sidebar {
  display: flex;
  font-size: 18px !important;
  align-items: flex-end;
}

.show-page {
  width: 250px;
  color: #919aa1;
  text-transform: uppercase !important;
  font-size: 12px;
  margin-top: 10px;
  padding: 2px;
}

.logo-white {
  width: 40px;
  height: 30px;
  margin-right: 8px;
  padding: 2px 5px 2px 0;
}

  /*-------- REGISTER ---------*/

.t-register{
  display: flex;
  justify-content: center;
}

.showPassword {
  cursor: pointer;
  transition: all;
}

.showPassword:hover {
  transform: scale(0.9);
}

.messages {
  padding: 0;
}

.signup-btn {
    color: #fff;
    background-color: #343a40;
}

.signup-btn:hover {
  background-color: #d5bd96;
  border: 1px solid #d5bd96;
  color: #fff;
}
.signup-btn:disabled {
  background-color: lightgray;
  color: rgb(113, 112, 112);
  border: none;
}

.btn:focus, 
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

/*-------- LOGIN ---------*/

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.logo-auth{
  width: 230px;
  height: 190px;
}

.t-login{
  display: flex;
  justify-content: center;
}

/*-------- EXPENSES AND INCOME ---------*/

.t-index {
  padding-left: 14px;
  margin-top: 0;
}

.page-location {
  padding: 4px 15px;
}

.add-expense {
  padding-left: 30px !important;
}

.add-icon{
  position: relative;
  width: 16px;
  right: 6px;
  bottom: 2px;
}

/* Export Button */ 
.button-excel, .button-pdf, .button-csv {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  overflow: hidden;
  font-size: 12px;
  left: 7px;
  border-radius: 2px;
}

.button-csv, .button__icon-csv, .button__text-csv, .button-pdf, .button__icon-pdf, .button__text-pdf, .button-excel, .button__icon-excel, .button__text-excel {
  transition: all 0.3s;
}

.button-csv .button__text-csv, .button-pdf .button__text-pdf, .button-excel .button__text-excel  {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.button-csv .button__icon-csv, .button-pdf .button__icon-pdf, .button-excel .button__icon-excel {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #343a40;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-csv .svg, .button-pdf .svg, .button-excel .svg {
  width: 20px;
  fill: #fff;
}

.button-csv:hover {
  background: #f8f9fa
}

.button-pdf:hover{
  background: #f8f9fa;
}

.button-excel:hover{
  background: #f8f9fa;
}

.button-csv:hover .button__text-csv, .button-pdf:hover .button__text-pdf, .button-excel:hover .button__text-excel {
  color: transparent;
}

.button-csv:hover .button__icon-csv, .button-pdf:hover .button__icon-pdf, .button-excel:hover .button__icon-excel {
  width: 148px;
  transform: translateX(0);
}

.btn-add {
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  color: #fff;
  padding: 10px 24px;
}

.btn-add:hover {
  border: none;
  border: 2px solid #343a40;
  background-color: #fff;
  color: #343a40;
}

.btn-add .add-icon {
  transition: all 0.2s ease;
}

.btn-add:hover .add-icon {
  content: url("/static/img/add-icon.svg");
}

.search-index{
  padding-top: 15px !important;
  height: 48px;
  padding-left: 50px;
  border-radius: 8px;
  background-color: #fff;
}

.search-icon {
  top: 30%;
  position: absolute;
  pointer-events: none; /* permite clicar no input mesmo em cima da imagem */
  width: 20px;
  left: 15px;
}

.btn-trash,
.btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 11px;
  border: 1px solid #dbdfe4;
  background-color: #fff;
  border-radius: 8px;
  gap: 10px;
}

.btn-edit:hover{
  transition: all 0.2s ease;
  border: 2px solid #0eb9cb;
}

.btn-trash:hover{
  transition: all 0.2s ease;
  border: 2px solid #f33829;
}

.btn-edit img {
  width: 21px;
}

.no-results {
  font-size: 18px;
}

.pages {
  color: #55595c;
  border: 2px solid #dbdfe4;
  background-color: #fff;
  border-radius: 8px;
  font-size: .765625rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 6px;
}

.pages:hover {
  transition: all 0.2s ease;
  border: 2px solid #343a40;
  background-color: #fff;
  color: #343a40;
}

.page-link {
  display: inline !important;
  left:6px
}

.table {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding-right: 15px;
}

.table th {
  padding: 18px !important;
  background-color: #fff;
}

.table td {
  padding: 10px;
}

.table td, .table th {
  padding: 10px 20px;
  vertical-align: middle;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9dc !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff !important;
}

.row.no-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  padding: 0 6px;
  gap: 15px !important;
}

.chart-container {
  flex: 0 0 auto; /* impede que o item cresça/diminua com base no container */
  padding: 0 30px; /* espaço lateral entre os gráficos */
  box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 18px;
}

.js-plotly-plot{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

 /*-------- SIDEBAR---------*/

 .sidebar-sticky {
  position: relative !important;
  top: 0;
  left: 6px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

 .sidebar .nav-link {
  font-weight: 600;
  color: #fff !important;
}

.nav-link:hover{
  background-color: #343a40;
  border-radius: 8px;
}

.icon-expenses {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 2px;
 }

.general-icon {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 3px;
  margin-left: 2px;
}

.account-icon {
  width: 17px;
  margin-bottom: 6px;
  margin-right: 3px;
  margin-left: 3px;
}
.setting-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
.home-icon {
  width: 18px;
  margin-bottom: 6px;
  margin-right: 2px;
  margin-left: 2px;
}
.summary-icon {
 width: 18px;
 margin-bottom: 6px;
 margin-right: 2px;
 margin-left: 2px;
}
.income-icon {
 width: 18px;
 margin-bottom: 3px;
 margin-right: 4px;
 margin-left: 2px;

}
.summary-expense {
 width: 18px;
 margin-bottom: 3px;
 margin-right: 4px;
 margin-left: 2px;
}

.summary-income {
 width: 19px;
 margin-bottom: 3px;
 margin-right: 3px;
 margin-left: 2px;
}

.btn-logout {
  color: hwb(0 100% 0% / 0.625);
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding-top: .715rem;
  padding-bottom: .715rem;
  text-transform: uppercase !important;
  font-weight: 600;
  margin-top: 50px;
  font-size: 16px;
}
.btn-logout:hover{
color: #f7f7f9;
}

.img-logout{
  width: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2px;
  margin-left: 5px;
}

 /*-------- USER PREFERENCES - GENERAL---------*/

.t-preferences {
    margin-bottom: 50px;
}

.select-preferences {
    align-items: center;
    border: 1px solid #343a40;
    color: #55595c;
    font-weight: 500;
    padding: 0px 10px;
}

.btn-preferences {
    width: 110px;
    background-color: #343a40;
    color: white;
}

.btn-preferences:hover {
    border: 1px solid #d5bd96;
    background-color: #d5bd96;
    color: #fff;
}

